
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAR RPG</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="app">
        <!-- SPA content will be rendered here -->
    </div>

    <!-- Scripts -->
    <script src="/static/js/router.js"></script>
    <script src="/static/js/components/CharacterSelection.js"></script>
    <script src="/static/js/components/GamePage.js"></script>
    <script src="/static/js/game.js"></script>
</body>
</html>
